@tailwind base;
@tailwind components;
@tailwind utilities;

/* Supprimer les flèches (spin buttons) des inputs numériques pour la classe .no-spin */
.no-spin::-webkit-outer-spin-button,
.no-spin::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.no-spin {
	-moz-appearance: textfield;
}